<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark">Editar Dados de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <br>
  <ion-label color="danger" class="inval" *ngIf="senhaInvalida">* A nova senha deve ter no mínimo 6 caracteres</ion-label>
  <ion-label color="danger" class="inval" *ngIf="senhaAlterada">* Senha alterada! Clique em salvar alterações</ion-label>
  <ion-label color="danger" class="inval" *ngIf="senhaDiferete">* Senha atual é inválida</ion-label>

  <ion-item>
    <ion-label>Nome: </ion-label>
    <ion-input [(ngModel)]="user.nome"></ion-input>
  </ion-item><br>
  <ion-item>
    <ion-label>Contato: </ion-label> 
    <ion-input [(ngModel)]="user.contato"></ion-input>
  </ion-item><br>
  <ion-item>
    <ion-label>Campus:</ion-label>
    <ion-select placeholder="Selecione" [(ngModel)]="user.campus">
      <ion-select-option *ngFor="let c of listaCampus;" [value]="c">{{c}}</ion-select-option>
    </ion-select>
  </ion-item><br>
  <ion-item>
    <ion-label>Dica de senha:</ion-label> 
    <ion-input [(ngModel)]="user.dicasenha"></ion-input>
  </ion-item><br><br>
  
  <ion-button ion-button color="danger" 
                  expand="block"
                  size="large"
                  style="color: black;
                        margin-bottom: 10px;"
                  (click)="alterarSenha()">
                  <ion-label>Alterar senha</ion-label>
      </ion-button>

  <ion-button ion-button color="warning" 
              expand="block"
              size="large"
              (click)="validaDados()">
  <ion-label color='dark'>Salvar alterações</ion-label></ion-button><br>
</ion-content>
      