<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-button (click)="voltar()">
          <ion-icon name="arrow-back" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="dark">Informações</ion-title>
      <ion-button (click)="removePost()" 
                  color="danger" 
                  slot="end"
                  *ngIf="ra == post.donopost">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <br>
    <div>
      <img [src]="post.foto">
    </div><br>
    <ion-button expand="block"
                        fill="outline"
                        (click) = "achado()"
                        *ngIf = "post.donopost != ra">Objeto foi devolvido ao dono?</ion-button>
    
    <ion-item>
      <ion-label>Título: </ion-label>
      <p>{{post.titulo}}</p>
    </ion-item><br>
    <ion-item>
      <ion-label>Lugar: </ion-label>
      <p>{{post.lugar}}</p>
    </ion-item><br>
    
    <ion-label id="descricao">Descrição: </ion-label>
    <div>
        <p id="descricao">{{post.descricao}}</p>
    </div>
  </ion-content>
  