<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-button (click)="voltar()">
          <ion-icon name="arrow-back" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="dark">Informações</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <br>
    <div>
        <img src="assets/img/semfoto.png">
    </div><br>
    <ion-item>
      <ion-label>Título: </ion-label>
      <p>{{post.titulo}}</p>
    </ion-item><br>
    <ion-item>
      <ion-label>Lugar: </ion-label>
      <p>{{post.lugar}}</p>
    </ion-item><br>
    
    <ion-label id="descricao">Descrição: </ion-label>
    <div>
        <p id="descricao">{{post.descricao}}</p>
    </div>
  </ion-content>
  