<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark">Novo post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <img id="logo" src="assets/img/logo.jpg"><br>

  <ion-label color="danger" class="inval" *ngIf="camposInvalidos">* Informe todos os campos</ion-label>

  <ion-item>
    <ion-label>Título: </ion-label>
    <ion-input [(ngModel)]="titulo"></ion-input>
  </ion-item><br>

  <ion-item>  
    <ion-label>Lugar: </ion-label> 
    <ion-input [(ngModel)]="lugar"></ion-input>
  </ion-item><br>

  <ion-item>
    <ion-label>Descrição: </ion-label> 
    <ion-input [(ngModel)]="descricao"></ion-input>
  </ion-item><br>

  <ion-item>
    <ion-label>Foto:</ion-label> 
    <img [src]="foto">
  </ion-item><br>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button id="botaoCamera" ion-button color="warning" 
        size="large"
        (click)="tirarFoto()">
        <ion-label color="dark">Tirar</ion-label>
        <ion-icon name="camera"></ion-icon>
        </ion-button><br>
      </ion-col>
      <ion-col col-6>
        <ion-button id="botaoCamera" ion-button color="light" 
        size="large"
        (click)="getFoto()">
        <ion-label color="dark">Galeria</ion-label>
        <ion-icon name="image"></ion-icon>
        </ion-button><br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <ion-button ion-button color="dark" 
              expand="block"
              fill="outline"
              size="large"
              (click)="validaDados()">
  Postar</ion-button><br>
</ion-content>

