<ion-content>
  <div class="ion-padding" *ngIf="!checkingUser">

    <img id="logo" src="assets/img/logo.jpg">

    <br><ion-label color="danger" id="inval" *ngIf="invalido">* R.A. ou senha inválida :(</ion-label><br>

    <ion-item>
      <ion-label position="floating" color='medium'>R.A.</ion-label>
      <ion-input [(ngModel)]="ra"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color='medium'>Senha</ion-label>
      <ion-input [(ngModel)]="senha" type="password"></ion-input>
    </ion-item><br>

    <ion-button color="dark" 
              expand="block"
              fill="outline"
              size="large"
              (click)="login()">
              <ion-spinner *ngIf="showLoading"></ion-spinner>
              <ion-label *ngIf="!showLoading">Entrar</ion-label>
    </ion-button><br>

    <ion-label id="centerEsqueci">Esqueceu sua senha? <a (click)="esqueci()">Clique aqui.</a></ion-label><br>
    <ion-label id="centerCadastro">Ainda não possui cadastro? <a (click)="registrar()">Clique aqui.</a></ion-label>
  </div>

  <div id="centerLoading" class="loading" *ngIf="checkingUser">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>